@model ABCLogistics.Data.Item

@{
    ViewBag.Title = "Item Details";
}

<h2>Item Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecordedDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordedDelivery)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "editItem", new { id = Model.PK_ItemID, controller = "Order" }) |
    @Html.ActionLink("Back to Item List", "getItems", "Customer") |
    @Html.ActionLink("Back to Orders List", "getOrders", "Customer")
</p>
