@model IEnumerable<ABCLogistics.Data.Tracking>

@{
    ViewBag.Title = "Order Tracking";
}

<h2>Order Tracking</h2>

@*<p>
    @Html.ActionLink("Add NewTracking ", "addTracking", "Order")
</p>*@
<table class="table text-center">
    <tr>
        <th class="text-center">
            ID
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PK_TrackingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PK_TrackingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PK_TrackingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PK_TrackingID })
        </td>*@
    </tr>
    
}

</table>

@Html.ActionLink("Back to Orders", "getOrders", "Customer")