@model IEnumerable<ABCLogistics.Data.Tracking>

@{
    ViewBag.Title = "All Trackings";
}

<h2>All Trackings</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "editTracking", new { id = item.PK_TrackingID, controller = "Order" }) |
            @Html.ActionLink("Details", "getTracking", new { id = item.PK_TrackingID, controller = "Order" }) |
            @Html.ActionLink("Delete", "deleteTracking", new { id = item.PK_TrackingID, controller = "Order" })
        </td>
    </tr>
}

</table>
