@model IEnumerable<ABCLogistics.Data.Parcel>

@{
    ViewBag.Title = "AllParcels";
}

<h2>AllParcels</h2>
<h3>@ViewBag.ParcelListSize</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td>
            <a href="@Url.Action("CustomerDetails", new { customer = item.Customer })"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Add Tracking", "AddParcelTracking", new { order = item.Id })
        </td>
    </tr>
}

</table>
