@model IEnumerable<ABCLogistics.Data.Parcel>

@{
    ViewBag.Title = "All Parcels";
}

<h2>All Parcels</h2>
<h3>@ViewBag.ParcelListSize</h3>
<p>
    @Html.ActionLink("Add New Parcel", "CreateParcel")
</p>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOrdered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            Track
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrdered)
        </td>
        <td>
            <a href="@Url.Action("CustomerDetails", new { customer = item.Customer })"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
        </td>
        <td>
            <a href="@Url.Action("TrackOrder", new { id = item.Id })"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></a>
        </td>
        <td>
            <a href="@Url.Action("EditParcel", new { id = item.Id })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a href="@Url.Action("DeleteParcel", new { id = item.Id })"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            @Html.ActionLink("Add Tracking", "AddParcelTracking", new { id = item.Id })
        </td>
    </tr>
}

</table>
